.card {
    box-shadow: none;
    margin: 5px;
    border-radius: 10px;
}

.status-card {
    background: #fff;
    box-shadow: none;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    max-height: 300px;
}

.status-card .card-header {
    display: block;
}

.status-card .card-header:after {
    content: initial;
}

.status-card .card-content-inner {
    padding: 0 10px 10px 10px;
    position: relative;
    font-size: 25px;
    font-weight: lighter;
}

.money-card {
    background: linear-gradient(90deg, #738abb, #56d9b6, #6fc7db, #8a81e0, #abd6c1, #c4b6d1);
    background-size: 1200% 1200%;

    -webkit-animation: gradientbackground 53s ease infinite;
    -moz-animation: gradientbackground 53s ease infinite;
    animation: gradientbackground 53s ease infinite;
}

.bg-green {
    background: #56d9b6;
}

@-webkit-keyframes gradientbackground {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes gradientbackground {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes gradientbackground {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.money-card .card-header {
    font-size: 25px;
}

.money-card .card-content-inner {
    font-size: 60px;
}

.money-card .card-footer {
    color: #000000;
}

.money-card .card-footer {
    color: #000000;
    background: rgba(255, 255, 255, 0.30);
    font-size: 17px;
    /* overflow: hidden; */
}

.status-board {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

