
.order-list {
    margin: 0;
}

.order-list .list-group ul {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 3px;
}

.order-list .list-group ul:after {
    content: none;
}

.order-list .list-group ul:before {
    content: none;
}

.buy-icon {
    color: #738ABB;
}

.sell-icon {
    color: #56D9B6;
}

.list-title-right {
    right: 4%;
    position: absolute;
}

.list-title-center {
    right: 40%;
    position: absolute;
}

.detail-list .item-content {
    height: 34px;
    min-height: 34px;
}

.detail-list .item-inner {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
}

.detail-list .item-content .item-inner:after {
    content: none !important;
}

.algo-name-inlist {
    width: 100px;
}

.reco-strategy span {
    text-align:center;
    display:block;
    margin: 20px;
    font-size:21px;
}

.reco-strategy {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
}

#all-positions .item-media {
    width: 15%;
    max-width: 64px;
}

#all-positions .item-after {
    font-size: 10px;
    color: darkgrey;
    line-height: 25px;
}

#all-positions {
    color: black;
}

.tag-cloud {
    padding-left: 0 !important;
    font-size: small;
    background: transparent !important;
}

.tag-cloud li {
    display: inline;
    border-width: 1px;
    border-style: solid;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 4px;
    border-radius: 5px;
    color: white;
    border-color: #738ABB;
    background-color: #738ABB;
}

.tag-cloud .fav-icon {
    display: inline;
    border-width: 1px;
    border-style: solid;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 4px;
    border-radius: 5px;
    color: white;
    border-color: #56d9b6;
    background-color: #56d9b6;
}

.swipe-bg-color {
    background-color: #56d9b6 !important;
}

.favPosition {
    background-color: aliceblue !important;
}

.list-block .item-text {
    height: 62px;

}